@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", system-ui;
}

.primary-text {
  color: #eb0029;
}
.primary-bg {
  background-color: #eb0029;
}
.primary-bg:hover {
  background-color: #dd1335;
}
.secondary-bg {
  background-color: #ffff;
  color: #eb0029;
  border: 2px solid #eb0029;
}
.secondary-bg:hover {
  background-color: #f5f5f5;
  border: 2px solid #eb0029;
}

[data-theme="light"] {
  --text-color: #333;
}

[data-theme="halloween"] {
  --text-color: #f5f5f5;
}

h2,h3,h5 {
  color: var(--text-color);
}
/* Hide scrollbar for Chrome, Safari, and Opera */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge, and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  